@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --cell-width: 100px;
    --cell-height: 100px;
    --color-1: rgb(41, 42, 47);
    --color-2: rgb(0, 251, 171);
    --color-3: rgb(248, 27, 93);
    --color-3-1: rgba(248, 27, 93, 0.419);
    --mark-size: calc(var(--cell-height) * 0.9);
}
body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-1);
    color: #fff;
}

.heading {
    font-family: "Permanent Marker", cursive;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 0.5rem;
}
.player {
    font-size: 2rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-width);
    height: var(--cell-height);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px solid var(--color-2);
    cursor: pointer;
}
.cell.x,
.cell.o {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.o::before {
    background-color: var(--color-3);
}

.board.x .cell:hover:not(.x):not(.o)::before,
.board.x .cell:hover:not(.x):not(.o)::after {
    background-color: var(--color-3-1);
}
.board.o .cell:hover:not(.x):not(.o)::before,
.board.o .cell:hover:not(.x):not(.o)::after {
    background-color: var(--color-3-1);
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
    border-bottom: none;
}
.cell:nth-child(3n + 1) {
    border-left: none;
}
.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:hover:not(.x):not(.o)::before,
.board.x .cell:hover:not(.x):not(.o)::after {
    content: "";
    position: absolute;
    border-radius: 10px;
    width: calc(var(--mark-size) * 0.15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:hover:not(.x):not(.o)::before {
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:hover:not(.x):not(.o)::after {
    transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:hover:not(.x):not(.o)::before,
.board.o .cell:hover:not(.x):not(.o)::after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.cell.o::before,
.board.o .cell:hover:not(.x):not(.o)::before {
    width: var(--mark-size);
    height: var(--mark-size);
}
.cell.o::after,
.board.o .cell:hover:not(.x):not(.o)::after {
    width: calc(var(--mark-size) * 0.7);
    height: calc(var(--mark-size) * 0.7);
    background-color: var(--color-1);
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.777);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    color: #fff;
    font-size: 4rem;
}
.winning-message button {
    background-color: var(--color-3);
    color: #fff;
    font-size: 1.5rem;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.winning-message button:hover {
    background-color: #fff;
    color: var(--color-3);
    transition: ease-in-out 0.2s;
}

.show {
    display: flex;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: #fff;
    margin-top: 5rem;
}

.footer a {
    display: inline-block;
    margin-left: 0.7rem;
    color: var(--color-2);
    text-decoration: none;
}
.footer a:hover {
    color: var(--color-3);
    transition: ease-in-out 0.2s;
}
